<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witaj w Atlasie Grzybów {{username}}</title>
</head>
<body>
<h3>Witam {{  username }}.</h3>

<p>Zarejestrowałeś się w atlasie grzybów. Na razie nie możesz edytować danych w nim zawartych. Jeśli chcesz to robić poproś o taką możliwość administrację serwisu.</p>
<br>
<p>Pozdrowienia
Wachcio - AtlasGrzybów</p>

</body>
</html>